<% if obj %>
    <div align="center">
        <%= will_paginate %>
    </div>
    </div>
    <%= render 'article', obj: obj %>
    <div align="center">
        <%= will_paginate %>
    </div>
<% end %>