<% if obj %>
    <div align="center">
        <%= will_paginate %>
    </div>
    </div>
    <%= render 'articleindex', obj: obj %>
    <div align="center">
        <%= will_paginate %>
    </div>
<% end %>