<% provide(:titulo, "#{@seluser.username} Welcome") %>

<% if @seluser.detail %>
    <%= render 'details/welcome', obj: @seluser %>
<% else %>
    <div class="row">
        <div class="jumbotron home col-xs-8 col-offset-2">
            <div class='col-xs-8 '>
                <% if @seluser.image %>
                   <%= image_tag(@seluser.image.picture.url, width: "100%", height: "auto") if @seluser.image.picture? %>
                <% end %>
            </div>
            <div class='col-xs-12 center'>
              <h1 class="display-4">Welcome!</h1>
            </div>
        </div>
    </div>
<% end %>