<% provide(:titulo, "CV") %>

<%if current_user %>
<%= render 'details/profile', obj: current_user.detail %>
<div class="row">
    <div class="cv-link col-xs-8 col-offset-2">
        <div class='col-xs-2'>
        </div>
        <div class='col-xs-12'>
            <div style="display:'flex' flex-wrap:'rows'">
                <div class="article-actions col-xs-8">
                    <% categories=Category.all %>
                    <% if categories %>
                        <% categories.each do |cat| %>
                            <% relation= ArticleCategory.where(category_id: cat.id)%>
                            <% if relation && current_user%>
                                <%= link_to cat.name, articles_list_path(name: cat.name), class: "btn btn-primary btn-xs" %>
                                <% if !true %>
                                <%= link_to cat.name, showarticle_path(@articles.reverse ), class: "btn btn-primary btn-xs" %>
                                <%end%>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<%end %>