body{
    background-color:#f3ebe8;
}

.navbar {
    color: #fff;
    background-color: #e7dfdc;
}
.nav-item {
    list-style-type: none;
    margin: 10px;
}

.nav-link{
    color: #58514c;
}

@import "bootstrap-sprockets";
@import "bootstrap";


.footer{
    color: #9e938e;
    background-color: #fcf7f5;
    width:100%;
}

.footer-link{
    color: #9e938e;
}


#logo {
    float:left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.center{
    text-align: right;
}

.jumbotron{
    background-color: #d4cbc4;
    height: auto;
    min-height: -webkit-fill-available;
    color: #fff;
    background-position: 2% center; 
}

.image-home{
    margin: 5px;
    max-width: 30%;
    height: auto;
}

.home-logo {
    background-image: asset-url('me.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
}

.home {
    width: -webkit-fill-available;
    display:flex;
    align-content: center;
}

.cv-logo {
    background-image: asset-url('cv.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center; 
}

.cv {
    color: #58514c;
    background-color: #e7dfdc;
    width: -webkit-fill-available;
    display:flex;
    height:auto;
    min-height: 250px;
}

.cv-link {
    color: #58514c;
    background-color: #e7dfdc;
    width: -webkit-fill-available;
    display:flex;
    height:auto;
}
.image-link{
    height: 60px;
    width: 60px;
    margin: 4px;
}

.column-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
}

.well-logo {
    background-image: asset-url('aboutme.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center; 
}

.well {
    color: #58514c;
    background-color: #e7dfdc;
    width: -webkit-fill-available;
    height:auto;
    min-height: 250px;
    padding: 0px;
    margin-bottom: 0px;
}

.well p {
    text-align: left;
}

.article {
    color: #58514c;
    background-color: #f4efef;
    width: -webkit-fill-available;
    height:auto;
}

.user_top {
    color: #58514c;
    background-color: #e7dfdc;
    width: -webkit-fill-available;
    height:auto;
    padding: 5px;
    margin:10px;
}

.container{
    padding: 19px;
    margin-bottom: 20px;
}

.article_top {
    color: #58514c;
    background-color: #ffffff;
    width: -webkit-fill-available;
    height:auto;
    padding: 5px;
    margin:10px;
}

.title-label{
    text-align: left;
}

.article-actions{
    text-align: center;
}

.article-body{
    white-space: pre-line;
}

.input_checkbox input{
    width: auto !important;
}

.badge{
    background-color:  #ffffff;
    text-tramsform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    margin: 3px;
}

.btn {
    margin: 5px;
}

.btn-primary{
    background-color: #b0a6a1;
    border-color: #b0a6a1;
}

.btn-primary:hover{
    background-color: #58514c;
    border-color: #58514c;
}

.btn-outline-success{
    background-color: #b0a6a1;
    border-color: #b0a6a1;
}

.btn-outline-success:hover{
    background-color: #58514c;
    border-color: #58514c;
    color: #fff;
}