<h2 align='center'> About me</h2>
<div class="row">
    <div class="well cv col-xs-8 col-offset-2">
        <div class='col-xs-2 well-logo'>
        </div>
        <div class='col-xs-12'>
            <div class="article-body">
              <%=obj.aboutMe %>
            </div>
            <hr>
            <div style="display:'flex' flex-wrap:'rows'">
                <div class="center ">
                    <a href="<%= obj.fb %>">
                        <img src="/assets/fb.png", alt="fb", class="image-link"/>
                    </a>
                    <a href="<%= obj.instagram %>">
                        <img src="/assets/instagram.png", alt="instagram", class="image-link"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

